@font-face {
  font-family: 'plus';
  src: local('plus'),
    url('../font/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}
.forecasting-page {
  /* background-color: #ffffff; */
  background-color: #050d19;
  height: 100vh;
  overflow: scroll;
  font-family: 'plus';
}
.stock-compare-block {
  display: flex;
  justify-content: center;
}
.stock-compare-multi {
  display: flex;
  justify-content: start;
  flex-direction: row;
  overflow-x: scroll;
  overflow: scroll;
  margin-left: 100px;
}
