.search-box {
  color: #ffffff;
  display: flex;
  height: 80px;
  margin-right: 100px;
}
.number {
  margin-left: 100px;
  height: 20px;
  margin-top: 15px;
  text-align: end;
  font-size: 20px;
}
.auto-complete {
  width: 362px;
  text-align: end;
  margin-right: 20px;
  margin-left: 75px;
}
.search-form {
  display: flex;
  justify-content: end;
  /* width: 167px; */
}
.ant-select .ant-select-arrow {
  color: #ffffff;
}
.search-form .ant-select-selector {
  text-align: center;
}
.search-form select {
  width: 250px;
  height: 48px;
  margin-left: 20px;
}
.delete-button {
  cursor: pointer;
  margin-left: 34px;
  margin-top: 11px;
}

/* options search */
.option-search {
  display: flex;
  justify-content: space-between;
}
.add-compare {
  background-color: transparent;
  color: #ffffff;
  border: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-left: 92px;
}
.disable-add {
  background-color: transparent;
  color: #696e75;
  border: transparent;
  /* cursor: pointer; */
  font-size: 16px;
  margin-left: 92px;
}
.forecast-button {
  width: 300px;
  height: 52px;
  border-radius: 999px;
  padding: 14px 32px 14px 32px;
  border: transparent;
  font-size: 16px;
  background: linear-gradient(270deg, #3083ff 0%, #ffffff 100%);
  /* background-image: linear-gradient(270deg, #3083ff 0%, #ffffff 100%); */
  margin-right: 100px;
  cursor: pointer;
}
