/* stock-info-default */
.stock-info {
  display: flex;
  flex-direction: column;
  width: 1933px;
  height: 2785px;
  color: #ffffff;
  background-color: #111824;
  box-shadow: 0px 8px 48px 0px #50565e40;
}
.symbol-header {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 56px;
  margin-right: 56px;
}
.symbol-name {
  font-size: 28px;
}
.symbol-index {
  font-size: 20px;
}
